<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Fax Server</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css"
          integrity="sha256-7rJADGJ6l3YF6uxVoTB1b6xhQb93nEsuYsCBmXQX7Ds=" rel="stylesheet"/>
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/image.min.css"
          integrity="sha256-fq7fY32a0sYPnyJyXc44WisZyImTDTltXD4yOWD4DII=" rel="stylesheet"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165773085-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165773085-2');
    </script>


    <style type="text/css">

        #compact-fields {
            margin: unset
        }

        body {
            background-color: #FFFFFF;
        }

        html {
            scroll-behavior: smooth;
        }

        pre {
            margin: 0em;
        }


        .main.container {
            margin-top: 1em;
        }

        .ui.footer.segment {
            margin: 1em 0em 0em;
            padding: 1em 0em;
        }
    </style>

</head>

<body>


<div class="ui main container">
    <div class="ui inverted huge purple menu">
        <div class="ui container">
            <a class="active header item" href="{% url 'index' %}">
                Fax Server
            </a>
            <a class="item" href="{% url 'list' %}">
                List Faxes
            </a>
            <a class="item" href="{% url 'new' %}">
                Create Fax
            </a>
        </div>
    </div>
        <div id="text-container">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided link list">
            <a class="item" href="#">Geoffrey Cline</a>
        </div>
    </div>


    <!-- Add your site or application content here -->

    <script crossorigin="anonymous" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI="
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha256-kt0Dfi+mrxAU+iYsfDrkROHrb55Hi0lVWC7MT46/xnU="
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js"></script>
    <script>

        $('.ui.dropdown')
          .dropdown()
        ;

    </script>
    {% block javascript %}{% endblock %}

</body>

</html>
