{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="ui segment">
  <h2>View Fax</h2>
</div>
<div id="error-message" class="ui icon negative hidden message">
  <i class="warning icon"></i>
  <div class="content">
    <div class="header">
      Error: Fax Not Sent
    </div>
    <p>Twilio was unable to send the fax. {{ fax.TwilioErrorMessage }}</p>
  </div>
</div>
<table class="ui celled compact table">
  <tbody>
    <tr>
      <td><span style="font-weight:bold">Reference</span></td>
      <td>{{ fax.ParentMatter }}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Client</span></td>
      <td>{{ client.PrettyName }}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Matter</span></td>
      <td>{{ matter.MatterName }}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Date Created</span></td>
      <td>{{ fax.DateCreated}}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Fax Status</span></td>
      <td>
        <div class="ui fax-status large label">{{ fax.FaxStatus }}</div>
      </td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Destination Number</span></td>
      <td>{{ fax.DestNumber}}</td>
    </tr>
    <tr>
      <td><span style="font-weight:bold">Download</span></td>
      <td>
        <button onclick="window.location.href = `{% url 'api_fax_media' fax.id %}`;"
          class="ui right labeled icon small compact blue button">
          <i class="file pdf icon"></i>
          PDF
        </button>
      </td>
    </tr>

  </tbody>
</table>
<div class="ui fluid steps">
  <div id="step-rx" class="step">
    <i class="cloud upload icon"></i>
    <div class="content">
      <div class="title">Received</div>
    </div>
  </div>
  <div id="step-tx" class="step">
    <i class="fax icon"></i>
    <div class="content">
      <div class="title">Sending</div>
    </div>
  </div>
  <div id="step-dl" class="step">
    <i class="flag checkered icon"></i>
    <div class="content">
      <div class="title">Delivered</div>
    </div>
  </div>

</div>
<div id="load-message" class="ui hidden icon message">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      Processing ... just a moment
    </div>
    <p>The fax is being uploaded to Twilio for sending.</p>
  </div>
</div>
<iframe src="{{ fax.Pdf.url }}" width="100%" height="500px">
</iframe>


{% endblock %}
{% block javascript %}
<script>
  var fax_sent = "{{ fax.FaxStatus }}"
  if (fax_sent === "delivered") {
    $('#step-rx').attr("class", "completed step")
    $('#step-tx').attr("class", "completed step")
    $('#step-dl').attr("class", "completed step")
  }
  else if (fax_sent === "error") {
    $('#error-message').removeClass('hidden')
    $('#step-rx').attr("class", "disabled step")
    $('#step-tx').attr("class", "disabled step")
    $('#step-dl').attr("class", "disabled step")
  }
  else {
    $('#step-rx').attr("class", "active step")
    $('#step-tx').attr("class", "disabled step")
    $('#step-dl').attr("class", "disabled step")
    $('#load-message').removeClass('hidden')
    setTimeout(function () {
      location.reload();
    }, 2500);
  }

  $(document).ready(function () {
    $('.fax-status').each(function () {
      var status = $(this).text()
      switch (status) {
        case 'delivered':
          $(this).addClass("green")
          break;
        case 'error':
          $(this).addClass("red")
          break;
        default:
          $(this).addClass("purple")
          break;
      }
    });
  });
</script>
{% endblock %}