{% extends "base.html" %}
{% block content %}
<div class="ui top attached segment">
    <h2>View Sent Faxes</h2>
</div>
<div class="ui bottom attached segment">
    <div class="ui form">
        <form id="filter-form" action="/fax-server/list/" method="post">
            {% csrf_token %}
            <div id="compact-fields" class="fields">
                <div class="field">
                    {{ form.ClientNumber.label_tag }}
                    {{ form.ClientNumber}}
                </div>
                <div class="field">
                    {{ form.MatterNumber.label_tag }}
                    {{ form.MatterNumber}}
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button type="submit" value="Submit" class="ui primary button">Filter</button>
                </div>
                <div class="field">
                    <label>&nbsp;</label>
                    <button onclick="ResetForm()" class="ui button">Reset</button>
                </div>
            </div>
        </form>
    </div>

</div>
<div id="target">

</div>
<table class="ui single line fluid table">
    <thead>
        <tr>
            <th>FaxID</th>
            <th>Matter</th>
            <th>Date Created</th>
            <th>Status</th>
            <th>Destination</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for fax in faxes %}
        <tr>
            <td><a href="{% url 'detail' fax.id %}">{{ fax.FullId }}</a></td>
            <td>{{ fax.ParentMatter }}</td>
            <td>{{ fax.DateCreated }}</td>
            <td>
                <div class="ui fax-status label">{{ fax.FaxStatus }}</div>
            </td>
            <td>{{ fax.DestNumber }}</td>
            <td>
                <button onclick="window.location.href = `{% url 'api_fax_media' fax.id %}`;"
                    class="ui right labeled icon small compact blue button">
                    <i class="file pdf icon"></i>
                    PDF
                </button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan=6>No Faxes Found</td>
        </tr>
        {% endfor %}


    </tbody>
</table>


{% endblock %}
{% block javascript %}
<script>
    function ResetForm(){
        $('input').val('')
        $('#filter-form').submit()
    }

    $(document).ready(function () {
        $('.fax-status').each(function () {
            var s = $(this).text()
            switch (s) {
                case 'delivered':
                    $(this).addClass("green")
                    break;
                case 'error':
                    $(this).addClass("red")
                    break;
                default:
                    $(this).addClass("purple")
                    break;
            }
        });

        $("#id_ClientNumber").change(function (e) {
            var clientid = $("#id_ClientNumber").val();

            $.ajax({
                type: 'GET',
                url: `/fax-server/ajax/matters/${clientid}/`,
                success: function (response) {
                    $("#id_MatterNumber input").val('')
                    $("#id_MatterNumber option").remove()
                    response.forEach(function (matter, index) {
                        var tag = `<option value='${matter.pk}'>${matter.fields.MatterNumber}: ${matter.fields.ShortName}</option>`
                        $("#id_MatterNumber").append(tag)
                    });
                }
            });
        });
    });


</script>
{% endblock %}