{% extends "base.html" %}}
{% block content %}
<div class="ui top attached segment">
    <h2>Create Outgoing Fax</h2>
</div>
<div class="ui attached green segment">
    <div class="ui form">
        <form action="/fax-server/new/" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="fields">
                <div class="field">
                    {{form.ClientNumber.label_tag}}
                    <select name="ClientNumber" id="id_ClientNumber" class="ui search dropdown">
                        <option value="">Client</option>
                        {% for client in clients %}
                        <option value="{{ client.ClientId }}">{{ client.PrettyName }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    {{form.MatterNumber.label_tag}}
                    <select name="MatterNumber" id="id_MatterNumber" class="ui search dropdown">
                        <option value="">Matter</option>
                    </select>
                </div>
                <div class="field">

                    {{form.SendNumber.label_tag}}
                    <div class="ui left labeled input">
                        <div class="ui dropdown label">
                            <div class="text">+1</div>
                        </div>
                        <input name="SendNumber" id="id_SendNumber" type="text" placeholder="Destination Number">
                    </div>
                    {{ form.SendNumber.errors }}
                </div>
            </div>
    </div>
    <div class="ui attached segment">
        {{ form.UploadPDF.errors }}
        <div class="fields">

            {{ form.UploadPDF }}
        </div>
        <div class="fields">

        </div>

    </div>

</div>
<div class="ui bottom attached segment">
    <button type="submit" value="Submit" class="ui primary fluid button">
        Submit
    </button>
</div>
</form>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
    });

    $("#id_ClientNumber").change(function (e) {
        var clientid = $("#id_ClientNumber").val();

        $.ajax({
            type: 'GET',
            url: `/fax-server/ajax/matters/${clientid}/`,
            success: function (response) {
                $("#id_MatterNumber input").val('')
                $("#id_MatterNumber option").remove()
                response.forEach(function (matter, index) {
                    console.log(matter)
                    var tag = `<option value='${matter.pk}'>${matter.fields.MatterNumber}: ${matter.fields.ShortName}</option>`
                    $("#id_MatterNumber").append(tag)
                });
            }
        });
    });
</script>
{% endblock %}